<etwin-main-layout>
  <h1 i18n="Title of the donation section@@donate.title">Donate</h1>
  <p i18n="Introduction to the donation section@@donate.introduction">
    Eternal-Twin is a free website. We only depend on donations to cover our costs and stay online.
    The website is maintained by volunteers and we do not generate any profit.
    Eternal-Twin wants to archive the Motion-Twin games and provide a place for their communities.
    If you like what we do and want to help us, consider making a donation.
  </p>
  <p i18n="Paragraph on the star goal@@donate.stars">
    We decided to use the <a href="https://opencollective.com/eternal-twin">OpenCollective</a> platform
    to transparently manage our donations and costs. Eternal-Twin first needs to pass a manual review
    from OpenCollective to prove that we are a legitimate project before we can accept donations.
    One of their requirements asks for 100 stars on <a href="https://gitlab.com/eternal-twin/etwin">the Eternal-Twin
    Gitlab project</a>. <strong>The best way to help is to add a star on Gitlab!</strong>
  </p>
  <a href="https://gitlab.com/eternal-twin/etwin"><img src="/assets/star-repo.gif" alt="Star the repository" i18n-alt="Label for the GIF showing how to star the Gitlab repository@@donate.starRepoGif"/></a>
</etwin-main-layout>
