/* --- GAMES BOXES --- */

$contentWidth: 1024px;
$desktopBreakpoint: 768px;

article.game {
  display: flex;
}


/* Rendered using http://tridiv.com/ */

article.tridiv {
  perspective: 800px;
  min-width: 10em;
  height: 14em;
  background: transparent;
  overflow: hidden;
  font-size: 100%;
  float:left;
  margin-right: 1.8em;

  .face {
    /*box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);*/
    box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.35);
    transition: box-shadow 1s;
    border-radius: 1px;
  }
  .scene, .shape, .face, .face-wrapper, .cr {
    position: absolute;
    transform-style: preserve-3d;
  }
  .scene {
    width: 80em;
    height: 80em;
    top: 50%;
    left: 50%;
    margin: -40em 0 0 -40em;

    transform:rotateX(-12deg) rotateY(12deg);
    transition: transform .4s;
  }
  .shape {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-origin: 50%;
  }
  .face, .face-wrapper {
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */
  }
  .face {
    background-size: 100% 100%!important;
    background-position: center;
  }
  .face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%
  }
  .photon-shader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }
  .side {
    left: 50%;
  }
  .cr, .cr .side {
    height: 100%;
  }
  [class*="cuboid"] .ft, [class*="cuboid"] .bk {
    width: 100%;
    height: 100%;
  }
  [class*="cuboid"] .bk {
    left: 100%;
  }
  [class*="cuboid"] .rt {
    transform: rotateY(-90deg) translateX(-50%);
  }
  [class*="cuboid"] .lt {
    transform: rotateY(90deg) translateX(-50%);
  }
  [class*="cuboid"] .tp {
    transform: rotateX(90deg) translateY(-50%);
  }
  [class*="cuboid"] .bm {
    transform: rotateX(-90deg) translateY(-50%);
  }
  [class*="cuboid"] .lt {
    left: 100%;
  }
  [class*="cuboid"] .bm {
    top: 100%;
  }

  /* .cub-1 styles */
  .cub-1 {
    transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:9em;
    height:12em;
    margin:-6em 0 0 -4.5em;
  }
  .cub-1 .ft {
    transform:translateZ(1em);
  }
  .cub-1 .bk {
    transform:translateZ(-1em) rotateY(180deg);
  }
  .cub-1 .rt, .cub-1 .lt {
    width:2em;
    height:12em;
  }
  .cub-1 .tp, .cub-1 .bm {
    width:9em;
    height:2em;
  }


  .cub-1 .face {
    $color: #cd6f00; /*default box color */
    background-repeat:no-repeat;
    background-color: $color;

    &.ft {
      img {
        width: 100%;
        height: 100%;
      }

      &:before {
        content:"";
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-repeat:no-repeat;
        background-image:
          linear-gradient(165deg, rgba(255,255,255,0) 25%, rgba(255,255,255,.6) 50%, rgba(255,255,255,0) 75%),
          url("/assets/box_cover_ft.svg");
        background-size: 300% 300%, 100% 100%;
        background-position: 15% 0%, center;

        transition: background-position .5s;
      }
    }

    &.rt {

      &:before {
        content:"";
        position: fixed;
        width: 100%;
        height: 100%;
        background-repeat:no-repeat;
        background-image:
          url("/assets/box_cover_rt.svg"),
      }
    }

    &.tp {
      background-color: #ababab !important;
    }

    &.bk, &.lt, &.bm { /* back faces */
      backface-visibility: visible;
      box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.35);
      border-radius: 3px;
    }
  }
}

article.game:hover,
article.game:active,
article.game:focus,
article.game:focus-within {
  .face {
    box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.8);

    &.ft:before {
      background-position: 70% 100%, center;
    }
  }

  .scene {
    transform:rotateX(-12deg) rotateY(34deg);
  }
}

#eternalfest {
  $color: #2a2484;
  .face {background-color:$color;}
}

#myhordes {
  $color: #650021;
  .face {background-color:$color;}
}

#dinoparc {
  $color: #d6853d;
  .face {background-color:$color;}
}

#dinorpg {
  $color: #578722;
  .face {background-color:$color;}
}

#cafejeux {
  $color: #403a43;
  .face {background-color:$color;}
}

#emush {
  $color: #2e2485;
  .face {background-color:$color;}
}

#studioquiz {
  $color: #5e1da4;
  .face {background-color:$color;}
}

#mjrt {
  $color: #e4e4e4;
  .face {background-color:$color;}
}

#labrute {
  $color: #a97747;
  .face {background-color:$color;}
}





/* --- MOBILE CONTENT --- */


@media only screen and (max-width: $desktopBreakpoint / 2) {

  article.game {
    flex-direction: column;
  }

}