<h2>Linked accounts</h2>
<etwin-linked-twinoid-settings [link]="links.twinoid"></etwin-linked-twinoid-settings>
<etwin-linked-hammerfest-settings server="hammerfest.fr" [userId]="userId" [link]="links.hammerfestFr"></etwin-linked-hammerfest-settings>
<etwin-linked-hammerfest-settings server="hammerfest.es" [userId]="userId" [link]="links.hammerfestEs"></etwin-linked-hammerfest-settings>
<etwin-linked-hammerfest-settings server="hfest.net" [userId]="userId" [link]="links.hfestNet"></etwin-linked-hammerfest-settings>
