<etwin-main-layout>
  <ng-container *ngIf="post$ | async as post">
    <ng-container [ngSwitch]="post !== FORUM_POST_NOT_FOUND">
      <ng-container *ngSwitchCase="true">
        <h1 i18n="Title for the post details and edition page@@forum.post.title">Update post in {{post.thread.title}}, by <etwin-forum-actor [actor]="post.author"></etwin-forum-actor>, at {{post.ctime | date : "short"}}</h1>
        <form
          method="POST"
          enctype="application/x-www-form-urlencoded"
          action="/actions/update_post"
          [formGroup]="updatePostForm"
          (ngSubmit)="onSubmit($event, post)"
        >
          <input type="hidden" name="post_id" formControlName="postId" required="required" [value]="post.id"/>
          <input type="hidden" name="last_revision_id" formControlName="lastRevisionId" required="required" [value]="post.revisions.items[post.revisions.items.length - 1].id"/>
          <div class="box">
            <label>
              <input type="checkbox" name="hide_post_content" formControlName="hidePostContent" [defaultChecked]="false"/>
              <span i18n="Label for the checkbox to update the forum post and hide (soft remove) its content@@forum.updatePost.hideContent">Hide message content</span>
            </label>
          </div>
          <label>
            <span i18n="Label to update the moderation warning linked to a post@@forum.updatePost.moderation">Moderation warning</span>
            <textarea name="moderation" class="field" formControlName="moderation"></textarea>
          </label>
          <label>
            <span i18n="Label for the comment explaining why a post was updated@@forum.updatePost.comment">Comment describing the reason of the update</span>
            <input type="text" name="comment" class="field" formControlName="comment"/>
          </label>
          <div class="actionBox">
            <input type="submit" class="btn primary" name="update_post" [disabled]="updatePostForm.invalid || pendingSubscription !== null" i18n-value="@@forum.updatePost.submit" value="Update post"/>
          </div>
          <div *ngIf="serverError" class="error" i18n="Error message displayed when the server rejects the post update@@forum.deleteModerator.unknownError">
            Post update failure: unknown server error.
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h1>Forum thread not found</h1>
      </ng-container>
    </ng-container>
  </ng-container>
</etwin-main-layout>
